#logo {
  height: 50px;
  margin-top: -15px;
  margin-left: 60px;
}
.reg {
margin-top: 200px;
  
}
body {
  background-image: url("../img/luca.jpg");
  background-size: cover;
}
h4{
  color: white;
  font-size: 30px;
}

.rowleft {
    margin-left: 50px;
}
button {
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    background-color: grey;
    font-size: 20px;
}
.votebutton {
  width: 80px;
  height: 30px;
  background-color: #686EAF;
  padding: 15px;
  color: white;
  border-radius: 5px; 
}

.nav{
  float: right;
  margin-top: -40px
}

.votebutton {
  background-color: #00113c!important;
  
}

.line{
  background-color: #00113c!important;
}

.container-lib{
    width: 100%!important;
background-color:#f2f2f2;
padding: 10px;
padding-bottom: 50px;
}

.container-fluid {
    margin:0px;
    padding: 0px;
}

.frontinput > input {
    margin-bottom: 20px!important;
}
.frontinput {
    margin-left: 0px;
    padding-left: 0px;
}

#myBtn {
background-color: #00113c;}

.title1 {
    color: white;
}
.title3 {
    font-size: 35px;
    font-weight: bold;
}

.captext {
    color: white;
}