#logo {
  height: 50px;
  margin-top: -15px;
}
.reg {
margin-top: 200px;
  
}
body {
  background-image: url("../img/luca.jpg");
  background-size: cover;
}
h4{
  color: white;
  font-size: 30px;
}

.nomar{
    margin-left: 0px!important;
}

.votebutton {
  width: 80px;
  height: 30px;
  background-color: #686EAF;
  padding: 15px;
  color: white;
  border-radius: 5px; 
}